.app-rawdata-container {
    max-height: calc(100vh - 160px);
}

.app-rawdata {
    height: 100%;
}

.app-rawdata {

    &__scroller {
        width: calc(100% - 40px);
        height: calc(100% - 60px);
        padding: 20px;
        margin-top: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: max-content;
        gap: 10px;
    }

    &__item {
        width: calc(100% - 20px);
        height: auto;
        padding: 5px 10px;
        color: var(--primary-text-color);
        display: grid;
        grid-template-columns: 120px auto;
        gap: 10px;
        font-size: 14px;
    }

    &__category {
        width: calc(100% - 24px);
        height: auto;
        padding: 10px;
        border-radius: var(--border-radius);
        border: 2px solid #ab87df2b;
    }
}
