$accentColor: #7766a0;

$primaryBackgroundColor: #f9f9f9;
$secondaryBackgroundColor: #eaeaea;
$thirdBackgroundColor: #fff;

$primaryTextColor: #000;
$secondaryTextColor: #000;

$controlBackgroundColor: #43678c;
$controlBackgroundColorHover: #6c96c1;
$controlTextColor: #fff;

$skeletonBackgroundColor: #e9e9e9;
$skeletonBlinkColor: #f1f1f1;