a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

html, body {
    margin: 0;
    padding: 0;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

div.app {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: var(--default-font-family);
    
    &__gridbox {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: var(--navbar-base-height) auto;
        gap: var(--base-grid-gap);
    }
}

div.container {
    width: 100%;
    height: 100%;
    position: relative;
    content: "";

    &.scroller {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &:before, &:after {
        content: "";
        position: absolute;
    }
}


.app-grid-placement {
    display: grid;
    grid-template-columns: var(--side-menu-base-width) auto;
    gap: var(--base-grid-gap);
}

.app-content {
    max-height: calc(100vh - var(--navbar-base-height));
    overflow-x: hidden;
    overflow-y: auto;
    padding: var(--base-content-vertical-padding) var(--base-content-horizontal-padding);
    background: var(--secondary-background-color);
    border-top-left-radius: 15px;
}