<div class="app-side_menu">
    <div class="container scroller">

        <div class="app-side_menu__button" id="side-menu-button-search">
            <div></div>
            <img src="/static/icons/icon-color-search.png" alt="Zoeken" />
            <span>Zoeken</span>
        </div>

        <div class="app-side_menu__button" id="side-menu-button-settings">
            <div></div>
            <img src="/static/icons/icon-color-settings.png" alt="Instellingen" />
            <span>Instellingen</span>
        </div>

        <div class="app-side_menu__seperator"></div>

        <div class="app-side_menu__button" id="side-menu-button-dashboard">
            <div></div>
            <img src="/static/icons/icon-color-home.png" alt="Dashboard" />
            <span>Dashboard</span>
        </div>

        <div class="app-side_menu__button" id="side-menu-button-live-data">
            <div></div>
            <img src="/static/icons/icon-color-chart.png" alt="Live data" />
            <span>Live data</span>
        </div>

        <!--<div class="app-side_menu__button" id="side-menu-button-history">
        <div></div>
        <img src="/static/icons/icon-color-history.png" alt="Geschiedenis" />
        <span>Geschiedenis</span>
    </div>

    <div class="app-side_menu__button">
        <div></div>
        <img src="/static/icons/icon-color-pie-chart.png" alt="Overige data" />
        <span>Overige data</span>
    </div>

    <div class="app-side_menu__button">
        <div></div>
        <img src="/static/icons/icon-color-terminal.png" alt="Reliance 4 Data" />
        <span>In en uitgaande data</span>
    </div>-->
    </div>
</div>