<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include partials/_head -%>
    <title>Live data | Open Extruder Data Reader</title>
</head>
<body class="app-body spa-app webapp-body ejs-rendered">
    <div class="app spa-app root app-root">
        <div class="app__gridbox">

            <%- include partials/_navbar -%>

            <div class="app-grid-placement">

                <%- include partials/_side-menu -%>

                <div class="app-content"></div>

            </div>

        </div>
    </div>

    <script type="text/javascript">(function () { document.querySelector("#side-menu-button-live-data").classList.add("active")})();</script>
</body>
</html>